<header class="header">
    <div class="header__logo" [ngStyle]="{
        fontSize: dynamicFontSizeL,
        lineHeight: dynamicHeigthL
    }">
        <h1><span>P</span>retzel </h1>
        <div class="header__burger burger" (click)="flag=!flag" [ngStyle]="{
            height: dynamicHeigthB,
            margin: dynamicMarginB
         }">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
        </div>
    </div>
    <nav class="header__nav">
        <ul class="nav" [ngStyle]="{
            transform: flag ?  'scale(1, 1)' :  'scale(1, 0)',
            maxHeight: flag ? '' :'0px' ,
            lineHeight: dynamicHeigthL
        }">
            <li class="nav__item" routerLink="/" routerLinkActive="nav__item_active">
                <a>головна</a>
            </li>
            <li class="nav__item" routerLink="/basket" routerLinkActive="nav__item_active">
                <a>кошик</a>
            </li>
            <li class="nav__item" routerLink="/order" routerLinkActive="nav__item_active">
                <a>спец замовлення</a>
            </li>
            <li class="nav__item" routerLink="/products" routerLinkActive="nav__item_active">
                <a>продукти</a>
            </li>
            <li class="nav__item" routerLink="/comments" routerLinkActive="nav__item_active">
                <a>коментарі</a>
            </li>
        </ul>
    </nav>
</header>
<div class="plug"></div>