<section class="order">
    <app-basket-form class="order__form" [setings]="true" (data)="sendingData($event)">
    </app-basket-form>
    <p class="order__text">
        special-order works!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nisi fuga eaque, quidem eum, obcaecati, sequi
        deleniti repellat non quas ullam ducimus culpa libero ad omnis vitae voluptatem facere esse.
    </p>
    <p class="oeder__error-list" *ngIf="flagError">
        Проблеммы с доступом к серверу, ререзагрузите страницу, но перед этим сохраните текст спец заказа!!!!!!!!
    </p>
</section>