<section class="basket">
    <div class="basket__table">
        <div class="basket__item basket__item_header">
            <p class="basket__title">Назва товару</p>
            <p class="basket__title">Кількість</p>
            <p class="basket__title">Cума</p>
        </div>
        <app-basket-item (deleteItem)="delete($event)" (reSize)="fullCost()" class="basket__item"
            *ngFor="let p of ProductsService.products" [product]="p">
        </app-basket-item>
        <p *ngIf="flag" class="basket__empty">На даний момент Карзіна порожня</p>
        <div class="basket__item">
            <p>Повна сума: {{cost | currency:'UAH':'symbol-narrow':'0.0'}}</p>
        </div>
    </div>
    <app-basket-form (data)="sendingData($event)" class="basket__form"></app-basket-form>
    <p class="basket__error" *ngIf="flagErrorSend">Проблеми з доступам до сервера, спробуйте перезавантажити сторінку!
    </p>
</section>