.section-products {


	&__input {
		position: relative;

		margin: 40px 30px;
		max-width: 290px;
		width: calc(100% - 80px);

        border:none;
        border-bottom: solid 1px #ff9900;
        font-size: 24px;
	}

	&__box{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}

	&__container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}


	&__item {
		margin: 10px;
		box-shadow: 0px 0px 25px #cccccc;
	}
}
