.error,
.errorServer{
	font-family: 'Roboto', sans-serif;

    color: #ff9900;

    font-size: 24px;

    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.errorServer{
    color: #ff0000;
}