<div class="new">
    <h3 class="new__title">Коментарі</h3>
    <input [(ngModel)]="name" minlength="3" maxlength="20" class="new__name" placeholder="Имя" type="text">
    <p *ngIf="nameError" class="new__error">Довжина імені повинна бути від 3 до 20 символів </p>
    <textarea [(ngModel)]="text" minlength="20" maxlength="500" class="new__comments"></textarea>
    <p *ngIf="textError" class="new__error">Довжина коментаря повинна бути від 20 до 500 символів</p>
    <button (click)="validator()" class="new__submit">Надіслати</button>
</div>